.accordion-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    transition: 0.5s;
}

.accordion-section.open,
.accordion-section:hover {
    background-color: rgb(70, 24, 112);
    border-color: rgb(70, 24, 112);
    transition: 0.5s;
    
}

.accordion-section .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
}

.accordion-section .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assests/img/icons/up-arrow.svg);
    transition: 0.30s;
}

.accordion-section.open .trigger::after {
    transform: rotate(180deg);
}

.accordion-section .content {
    overflow: hidden;
    display: none;
    
}
.accordion-section.open .content{
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
}