@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Regular.otf);
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body a {
    color: white;
    text-decoration: none;
}
body a:hover{
    text-decoration: underline;
    color: white;
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: 400% 400%;
    background-image: linear-gradient(-100deg,
            rgb(0, 0, 0) 0%,
            rgb(5, 0, 97) 25%,
            rgb(78, 4, 97) 51%,
            rgb(53, 110, 255) 100%);
    animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
.title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}