.skillsContent{
    display: flex;
    flex-direction: column;
}
.skillsContent .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skillsContent .tools ul li img{
    max-width: 50px;
    margin: 0 .5rem;
}
