.skillsContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skillsContent .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skillsContent .tools ul li img{
    max-width: 50px;
    margin: 0 .5rem;
}
.personalSkills{
    
}
.personalSkills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.personalSkills ul li{
    margin-left: 1rem;
    padding: .5rem;
}
